@media only screen and (min-width: 972px) and (max-width: 1220px){
    /* BODY */
    .wrapper {
        max-width: 945px;
    }
    /* four column */
    .four-col-content {
        width: 220px;
    }
}

@media only screen and (min-width: 780px) and (max-width: 972px){
	#nav-ul li {
        font-size: 18px;
    }
    #nav-ul li a {
        padding: 10px 14px;
    }
    /* BODY */
    .wrapper {
        max-width: 750px;
    }
    /* four column */
    .four-col-container {
        flex-wrap: wrap;
        
    }
    .four-col-content {
        width: 282px;
        margin: 15px 15% 15px 0;
    }
    .four-col-content:nth-child(2), .four-col-content:nth-child(4){
        margin-right: 0;
    }
}

@media only screen and (min-width: 676px) and (max-width: 780px){
	#nav-ul {
        display: none;
    }
    #menu-open {
        display: block;
    }
    /* BODY */
    .wrapper {
        width: 90%;
    }
    /* 3 column */
    #about-us-grid {
        display: block;
    }
    .about-grid-col {
        text-align: center;
        margin: 25px auto !important;
        border: 1px solid rgb(245, 245, 245);
    }
    /* two column */
    #two-col-grid {
        display: block;
    }
    .grid-col {
        width: 90%;
        margin: 25px auto;
        border: 1px solid rgb(245, 245, 245);
    }
    /* four column */
    .four-col-container {
        flex-wrap: wrap;
    }
    .four-col-content {
        width: 252px;
        margin: 15px 15% 15px 0;
    }
    .four-col-content:nth-child(2){
        margin-right: 0 !important;
    }
    /* contact form */
    .contact-content {
        width: 95%;
        height: auto;
    }
    #forms li {
        width: 100%;
        float: none;
    }
}
@media only screen and (max-width: 676px){
    #nav-ul {
        display: none;
    }
    #menu-open {
        display: block;
    }
    /* BODY */
    .wrapper {
        width: 90%;
    }
    /* 3 column */
    #about-us-grid {
        display: block;
    }
    .about-grid-col {
        text-align: center;
        margin: 25px auto !important;
        border: 1px solid rgb(245, 245, 245);
    }
    /* two column */
    #two-col-grid {
        display: block;
    }
    .grid-col {
        width: 90%;
        margin: 25px auto;
        border: 1px solid rgb(245, 245, 245);
    }
    /* four column */
    .four-col-container {
        display: block;
    }
    .four-col-content {
        width: 320px;
        margin: 25px auto !important;
        border: 1px solid rgb(245, 245, 245);
    }
    .four-col-content:nth-child(2){
        margin-right: auto !important;
    }
    /* contact form */
    .contact-content {
        width: 95%;
        height: auto;
    }
    #forms li {
        width: 100%;
        float: none;
    }
}
